<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NovaSpin</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
                

</head>
<body>
    <nav>
        <div class="nav-container">
          <div class="nav-links">
            <a href="#header">Home</a>
            <a href="#blackjack">Blackjack</a>
          </div>
        </div>
      </nav>

      <div id="header">
        <h1>Welcome to NovaSpin </h1>
        <img id="logo" src="../../static/images/NovaspinLogo.png" alt="Casino Logo">
        <div class="side-message">
          <p>A casino built for the biggest WildCats. Test your luck and win big at NovaSpin!
          We have Blackjack, Roulette, and Slots! What are you waiting for?
          99% of gamblers quit before they hit it big!!!
          Don't be a quitter, play now!</p>
        </div>
      </div>

    <section id="blackjack">
        <h2>Blackjack</h2>
        <p>Try your luck at our Blackjack tables and beat the dealer!</p>
    </section>

    <section id="roulette">
        <h2>Roulette</h2>
        <p>Spin the wheel and see where it lands! Will you hit the jackpot?</p>
    </section>

     <section id="slots">
        <h2>Slots</h2>
        <p>Pull the lever and watch the reels spin! Will you strike it rich?</p>
    </section>

</body>
</html>