<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NovaSpin</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav>
        
    </nav>
    <nav>
        <div class="nav-container">
          <div class="nav-links">
            <a href="#header">Home</a>
            <a href="#blackjack">Blackjack</a>
          </div>
        </div>
      </nav>

    <div id="header">
        <h1>Welcome to NovaSpin </h1>
        <img src="../static/images/NovaspinLogo.png" alt="Casino Logo" width="500">
        <p>A casino built for the biggest WildCats. Test your luck and win big!</p>
        <p>99% of gamblers quit before they hit it big!!!</p>
        <p>Don't be a quitter, play now!</p>
    </div>

    <section id="blackjack">
        <h2>Blackjack</h2>
        <p>Try your luck at our Blackjack tables and beat the dealer!</p>
    </section>
    
</body>
</html>