<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NovaSpin</title>
    <link rel="stylesheet" href="../../static/css/home-styles.css">    
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
                

</head>
<body>
    <nav>
        <div class="nav-container">
          <div class="nav-links">
            <a href="#header">Home</a>
            <a href="#blackjack">Blackjack</a>
            <a href="#roulette">Roulette</a>
            <a href="#slots">Slots</a>
            {% if request.user.is_authenticated %}
            <p>Welcome, {{ request.user.username }}</p>
            
            <form action="/accounts/logout/" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            {% else %}
            <a href="/accounts/login/">Login</a>
            {% endif %}
          </div>
        </div>
      </nav>

      <div id="header">
        <h1>Welcome to NovaSpin</h1>

        <div class="hero-row">
          <img id="logo" src="../../static/images/NovaspinLogo.png" alt="Casino Logo">
          <div class="side-message">
            <p>
              A casino built for the biggest WildCats. Test your luck and win big at NovaSpin!
              We have Blackjack, Roulette, and Slots! What are you waiting for?
              99% of gamblers quit before they hit it big!!!
              Don't be a quitter, play now!
            </p>
          </div>
        </div>
      </div>


    <section id="blackjack" class="game-section">
      <div class="game-panel">
        <h2>Blackjack</h2>
        <p>Try your luck at our Blackjack tables and beat the dealer.</p>
        <a href="{% url 'blackjack' %}"><button>Play Blackjack</button></a>
      </div>
    </section>

    <section id="roulette" class="game-section">
      <div class="game-panel">
        <h2>Roulette</h2>
        <p>Spin the wheel and see where it lands.</p>
        <a href="{% url 'roulette' %}"><button>Play Roulette</button></a>
      </div>
    </section>

    <section id="slots" class="game-section">
      <div class="game-panel">
        <h2>Slots</h2>
        <p>Pull the lever and watch the reels spin.</p>
        <a href="{% url 'slots' %}"><button>Play Slots</button></a>
      </div>
    </section>

</body>
</html>