* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(rgba(10,0,0,0.35), rgba(5,0,0,0.75)), url("../images/roulette-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, sans-serif;
}

.roulette-page {
    max-width: 1350px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.roulette-logo {
    width: 430px;
    display: block;
    margin: 0 auto -30px;
}

.back-btn {
    color: gold;
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background: rgb(177, 33, 33);
    padding: 10px 16px;
    border-radius: 10px;
}
.back-btn:hover {
    background-color: white;
    color: black;
}

.balance-card {
    max-width: 600px;
    margin: 20px auto;
    padding: 18px 35px;
    background: linear-gradient(145deg, rgba(90,0,0,0.9), rgba(20,0,0,0.95));
    border: 2px solid goldenrod;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.balance-card p {
    color: gold;
    text-transform: uppercase;
    font-weight: bold;
}

.balance-card h2 {
    color: gold;
    font-size: 2.4rem;
}

.coin-icon {
    font-size: 2.5rem;
}

.roulette-table {
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 30px;
    align-items: center;
    background: linear-gradient(145deg, rgba(0,50,20,0.96), rgba(0,25,10,0.95));
    border: 3px solid gold;
    border-radius: 28px;
    padding: 35px;
    box-shadow: 0 0 45px rgba(0,0,0,0.7);
}

.wheel-img {
    width: 500px;
    margin-left: -50px;
}

.board-area h3 {
    color: gold;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.board-grid {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.zero {
    width: 55px;
    border-radius: 10px 0 0 10px;
}

.number-grid {
    display: grid;
    grid-template-columns: repeat(12, 55px);
}

.number,
.zero,
.outside-bets button {
    height: 48px;
    border: 1px solid goldenrod;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background: #080808;
}

.number:nth-child(odd) {
    background: #9b111e;
}

.green {
    background: #064d24;
}

.outside-bets {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 720px;
    margin: 15px auto;
}

.outside-bets button {
    height: 55px;
    background: rgba(0,0,0,0.65);
    color: gold;
}

.selected {
    outline: 4px solid white;
    transform: scale(1.05);
    z-index: 2;
}

#selected-bet {
    color: gold;
    font-weight: bold;
    margin: 15px 0;
}

.bet-controls {
    margin-top: 15px;
}

.bet-controls label {
    display: block;
    color: gold;
    font-weight: bold;
    margin-bottom: 8px;
}

.bet-controls input {
    padding: 12px;
    border-radius: 10px;
    border: 2px solid goldenrod;
    text-align: center;
    font-size: 1.1rem;
    margin-right: 10px;
}

.spin-btn {
    padding: 14px 45px;
    border-radius: 18px;
    border: 2px solid gold;
    background: linear-gradient(#2d8a31, #075c18);
    color: gold;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.spin-btn:hover {
    background: gold;
    color: black;
}

.result-box {
    max-width: 700px;
    margin: 25px auto;
    padding: 25px;
    background: rgba(0,0,0,0.8);
    border: 2px solid gold;
    border-radius: 20px;
}

.error {
    background: white;
    color: black;
    font-weight: bold;
    width: fit-content;
    margin: 10px auto;
    padding: 8px 16px;
    border-radius: 8px;
}